<h1>Products Home</h1>

<form class = "new_pic_button" action='/products/new'>
  <input type='hidden' name='_method' value='put'>
  <input type='submit' value='New Product'>
</form>

<form action='/users/new'>
  <input type='hidden' name='_method' value='put'>
  <input type='submit' value='Create New User'>
</form>

<form action='/sessions/new'>
  <input type='hidden' name='_method' value='put'>
  <input type='submit' value='Log In'>
</form>

<% @products.each do |product| %>

<p><%= product.name.capitalize %>
  <%= link_to "View", product_path(product) %>
  <%= link_to "Edit", edit_product_path(product) %>
</p>

<% end %>
